<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/traveler.css">
</head>
<body>
<div class="padSm"/>
<div class="container panel" align="center">
    <div class="panel panel-heading">
        <div class="appTitleSmPad">CROSSROADS</div>
    </div>
    <div class="panel panel-body">
        <div> <img align="center" src="/img/imgLogoBadge.png"/></div>
        <div class="pad" align="center">
<!--
            <div class="containerTermsContent">
                <b class="appTitle" align="center">Legal</b><br/><br/>
            </div>
-->

        </div>
    </div>
    <div class="panel panel-footer" align="center">
        <div class="row">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-2">
                <a class="linkLegal" href="http://www.crossroadsapp.co/terms">View Terms of Service</a>
            </div>
            <div class="col-md-2">
                <a class="linkLegal" href="http://www.crossroadsapp.co/privacy">View Privacy Policy</a>
            </div>
            <div class="col-md-2">
                <a class="linkLegal" href="http://www.crossroadsapp.co/license">View License</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>