<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/traveler.css">
</head>
<body>
<div class="container" align="center">
    <div class="imgLogo"> <img align="center" src="/img/imgLogoBadge.png"/></div>
    <div align="center">
        <div class="containerTermsContent" align="left">
            <html>

            <head>
                <meta name=Title content="">
                <meta name=Keywords content="">
                <meta http-equiv=Content-Type content="text/html; charset=utf-8">
                <style>
                    <!--
                    /* Font Definitions */
                    @font-face
                    {font-family:Arial;
                        panose-1:2 11 6 4 2 2 2 2 2 4;}
                    @font-face
                    {font-family:"Courier New";
                        panose-1:2 7 3 9 2 2 5 2 4 4;}
                    @font-face
                    {font-family:Wingdings;
                        panose-1:5 0 0 0 0 0 0 0 0 0;}
                    @font-face
                    {font-family:"ＭＳ 明朝";}
                    @font-face
                    {font-family:"ＭＳ ゴシック";}
                    @font-face
                    {font-family:"ＭＳ ゴシック";}
                    @font-face
                    {font-family:Calibri;
                        panose-1:2 15 5 2 2 2 4 3 2 4;}
                    @font-face
                    {font-family:Tahoma;
                        panose-1:2 11 6 4 3 5 4 4 2 4;}
                    @font-face
                    {font-family:Polaris-Bold;}
                    /* Style Definitions */
                    p.MsoNormal, li.MsoNormal, div.MsoNormal
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:10.0pt;
                        margin-left:0in;
                        line-height:115%;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    h1
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:0in;
                        margin-left:.25in;
                        margin-bottom:.0001pt;
                        text-indent:-.25in;
                        font-size:11.0pt;
                        font-family:Calibri;
                        font-weight:bold;}
                    h2
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:11.0pt;
                        margin-left:0in;
                        font-size:11.0pt;
                        font-family:Calibri;
                        font-weight:normal;}
                    h3
                    {margin-right:0in;
                        margin-left:0in;
                        border:none;
                        padding:0in;
                        font-size:10.0pt;
                        font-family:"Times New Roman";
                        color:#2B70C5;
                        text-transform:uppercase;
                        font-weight:bold;}
                    p.MsoToc1, li.MsoToc1, div.MsoToc1
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:10.0pt;
                        margin-left:0in;
                        font-size:10.0pt;
                        font-family:Calibri;}
                    p.MsoHeader, li.MsoHeader, div.MsoHeader
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    p.MsoFooter, li.MsoFooter, div.MsoFooter
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:1.95pt;
                        margin-left:0in;
                        text-align:justify;
                        font-size:7.0pt;
                        font-family:"Times New Roman";
                        letter-spacing:-.05pt;
                        layout-grid-mode:line;}
                    a:link, span.MsoHyperlink
                    {color:#4CB4FF;
                        font-style:italic;
                        text-decoration:none none;}
                    a:visited, span.MsoHyperlinkFollowed
                    {color:purple;
                        text-decoration:underline;}
                    strong
                    {font-family:Polaris-Bold;
                        font-style:normal;}
                    p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    p
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:12.0pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    pre
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:10.0pt;
                        font-family:"Courier New";}
                    p.MsoCommentSubject, li.MsoCommentSubject, div.MsoCommentSubject
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:10.0pt;
                        margin-left:0in;
                        font-size:10.0pt;
                        font-family:Calibri;
                        font-weight:bold;}
                    p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:8.0pt;
                        font-family:Tahoma;}
                    p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    p.MsoRMPane, li.MsoRMPane, div.MsoRMPane
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:10.0pt;
                        margin-left:.25in;
                        text-indent:-.25in;
                        font-size:11.0pt;
                        font-family:Calibri;}
                    p.p5, li.p5, div.p5
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p6, li.p6, div.p6
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p4, li.p4, div.p4
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p7, li.p7, div.p7
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p8, li.p8, div.p8
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p2, li.p2, div.p2
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p11, li.p11, div.p11
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p12, li.p12, div.p12
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p13, li.p13, div.p13
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p15, li.p15, div.p15
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p16, li.p16, div.p16
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p17, li.p17, div.p17
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p18, li.p18, div.p18
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    p.p1, li.p1, div.p1
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:7.5pt;
                        margin-left:0in;
                        font-size:12.0pt;
                        font-family:"Times New Roman";}
                    span.Heading3Char
                    {font-family:"Times New Roman";
                        color:#2B70C5;
                        text-transform:uppercase;
                        font-weight:bold;}
                    span.Heading1Char
                    {font-family:Arial;
                        font-weight:bold;}
                    span.CommentSubjectChar
                    {font-weight:bold;}
                    span.BalloonTextChar
                    {font-family:Tahoma;}
                    span.BodyTextChar
                    {font-family:"Times New Roman";
                        letter-spacing:-.05pt;
                        layout-grid-mode:both;}
                    span.HTMLPreformattedChar
                    {font-family:"Courier New";}
                    span.Heading2Char
                    {font-family:Arial;}
                    span.PlainTextChar
                    {font-family:Calibri;}
                    p.intro2, li.intro2, div.intro2
                    {margin-right:0in;
                        margin-left:0in;
                        font-size:11.5pt;
                        font-family:"Times New Roman";
                        color:#333333;}
                    .MsoChpDefault
                    {font-size:11.0pt;
                        font-family:Calibri;}
                    .MsoPapDefault
                    {margin-bottom:10.0pt;
                        line-height:115%;}
                    /* Page Definitions */
                    @page WordSection1
                    {size:8.5in 11.0in;
                        margin:1.0in 22.5pt 1.0in 27.0pt;}
                    div.WordSection1
                    {page:WordSection1;}
                    /* List Definitions */
                    ol
                    {margin-bottom:0in;}
                    ul
                    {margin-bottom:0in;}
                    -->
                </style>

            </head>

            <body lang=EN-US link="#4CB4FF" vlink=purple>

            <div class=WordSection1>

                <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;text-autospace:none'><a name="OLE_LINK4"><a name="OLE_LINK3"><a
                                    name="OLE_LINK2"><a name="OLE_LINK1"><b><span>This file contains the open
source licenses for the following open source components in the Traveler iOS app:</span></b></a></a></a></a><span>
</span></p>

                <p class=MsoNoSpacing><span style='font-size:12.0pt'>&nbsp;</span></p>

                <p class=MsoToc1><span>1.</span><span>       </span><span>CocoaPods</span></p>

                <p class=MsoToc1><span>2.</span><span>       </span><span>AlamoFire</span></p>

                <p class=MsoToc1><span>3.</span><span>       </span><span>SwiftyJSON</span></p>

                <p class=MsoToc1><span>4.</span><span>       </span><span>XCGLogger</span></p>

                <p class=MsoToc1><span>5.</span><span>       </span><span>SDWebimage</span></p>

                <p class=MsoToc1><span>6.</span><span>       </span><span>AFDateHelper</span></p>

                <p class=MsoToc1><span>7.</span><span>       </span><span>FaceBook POP</span></p>

                <p class=MsoToc1><span>8.</span><span>       </span><span>SlideMenuControllerSwift</span></p>

                <p class=MsoNormal style='margin-left:.25in;text-indent:-.25in'><a
                            name=Notices><span style='font-size:10.0pt;line-height:115%;font-family:"Courier New"'>---------------------------------------------------------------------------------------------</span></a></p>

                <h1><a name="_Toc448233301"><a name="_Toc448233273"><a name="_Toc448232851"><span>1.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>CocoaPods</a></a></a></h1>

                <h2>https://cocoapods.org</h2>

                <pre>This project is licensed under the MIT license.</pre><pre>&nbsp;</pre><pre>Copyright (c) 2011 - 2015 Eloy Durán &lt;eloy.de.enige@gmail.com&gt;,</pre><pre>                          Fabio Pelosin &lt;fabiopelosin@gmail.com&gt;,</pre><pre>                          Samuel Giddins &lt;segiddins@segiddins.me&gt;,</pre><pre>                          Marius Rackwitz &lt;git@mariusrackwitz.de&gt;,</pre><pre>                          Kyle Fuller &lt;kyle@fuller.li&gt;,</pre><pre>                          Boris Bügling &lt;boris@buegling.com&gt;,</pre><pre>                          Orta Therox &lt;orta.therox@gmail.com&gt;, and</pre><pre>                          Olivier Halligon &lt;olivier@halligon.net&gt;.</pre><pre>&nbsp;</pre><pre>Permission is hereby granted, free of charge, to any person obtaining a copy</pre><pre>of this software and associated documentation files (the &quot;Software&quot;), to deal</pre><pre>in the Software without restriction, including without limitation the rights</pre><pre>to use, copy, modify, merge, publish, distribute, sublicense, and/or sell</pre><pre>copies of the Software, and to permit persons to whom the Software is</pre><pre>furnished to do so, subject to the following conditions:</pre><pre>&nbsp;</pre><pre>The above copyright notice and this permission notice shall be included in</pre><pre>all copies or substantial portions of the Software.</pre><pre>&nbsp;</pre><pre>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR</pre><pre>IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,</pre><pre>FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE</pre><pre>AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER</pre><pre>LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,</pre><pre>OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN</pre><pre>THE SOFTWARE.</pre>

                <p class=MsoNormal>&nbsp;</p>

                <h1><a name="_Toc448233302"><a name="_Toc448233274"><a name="_Toc448232852"><span>2.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>AlamoFire</a></a></a></h1>

                <h2>https://github.com/Alamofire/Alamofire</h2>

                <pre>Copyright (c) 2014–2016 Alamofire Software Foundation (http://alamofire.org/)</pre><pre>&nbsp;</pre><pre>Permission is hereby granted, free of charge, to any person obtaining a copy</pre><pre>of this software and associated documentation files (the &quot;Software&quot;), to deal</pre><pre>in the Software without restriction, including without limitation the rights</pre><pre>to use, copy, modify, merge, publish, distribute, sublicense, and/or sell</pre><pre>copies of the Software, and to permit persons to whom the Software is</pre><pre>furnished to do so, subject to the following conditions:</pre><pre>&nbsp;</pre><pre>The above copyright notice and this permission notice shall be included in</pre><pre>all copies or substantial portions of the Software.</pre><pre>&nbsp;</pre><pre>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR</pre><pre>IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,</pre><pre>FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE</pre><pre>AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER</pre><pre>LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,</pre><pre>OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN</pre><pre>THE SOFTWARE.</pre>

                <p class=MsoNormal>&nbsp;</p>

                <h1><a name="_Toc448233303"><a name="_Toc448233275"><a name="_Toc448232853"><span>3.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>SwiftyJSON</a></a></a></h1>

                <h2>https://github.com/SwiftyJSON/SwiftyJSON</h2>

                <pre>The MIT License (MIT)</pre><pre>&nbsp;</pre><pre>Copyright (c) 2014 Ruoyu Fu</pre><pre>&nbsp;</pre><pre>Permission is hereby granted, free of charge, to any person obtaining a copy</pre><pre>of this software and associated documentation files (the &quot;Software&quot;), to deal</pre><pre>in the Software without restriction, including without limitation the rights</pre><pre>to use, copy, modify, merge, publish, distribute, sublicense, and/or sell</pre><pre>copies of the Software, and to permit persons to whom the Software is</pre><pre>furnished to do so, subject to the following conditions:</pre><pre>&nbsp;</pre><pre>The above copyright notice and this permission notice shall be included in</pre><pre>all copies or substantial portions of the Software.</pre><pre>&nbsp;</pre><pre>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR</pre><pre>IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,</pre><pre>FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE</pre><pre>AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER</pre><pre>LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,</pre><pre>OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN</pre><pre>THE SOFTWARE.</pre>

                <p class=MsoNormal>&nbsp;</p>

                <h1><a name="_Toc448233304"><a name="_Toc448233276"><a name="_Toc448232854"><span>4.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>XCGLogger</a></a></a></h1>

                <h2>https://github.com/DaveWoodCom/XCGLogger</h2>

                <pre>The MIT License (MIT)</pre><pre>&nbsp;</pre><pre>Copyright (c) 2014 Dave Wood, Cerebral Gardens http://www.cerebralgardens.com/</pre><pre>&nbsp;</pre><pre>Permission is hereby granted, free of charge, to any person obtaining a copy</pre><pre>of this software and associated documentation files (the &quot;Software&quot;), to deal</pre><pre>in the Software without restriction, including without limitation the rights</pre><pre>to use, copy, modify, merge, publish, distribute, sublicense, and/or sell</pre><pre>copies of the Software, and to permit persons to whom the Software is</pre><pre>furnished to do so, subject to the following conditions:</pre><pre>&nbsp;</pre><pre>The above copyright notice and this permission notice shall be included in all</pre><pre>copies or substantial portions of the Software.</pre><pre>&nbsp;</pre><pre>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR</pre><pre>IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,</pre><pre>FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE</pre><pre>AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER</pre><pre>LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,</pre><pre>OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE</pre><pre>SOFTWARE.</pre><pre>&nbsp;</pre>

                <p class=MsoNormal>&nbsp;</p>

                <h1><a name="_Toc448233305"><a name="_Toc448233277"><a name="_Toc448232855"><span>5.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>SDWebimage</a></a></a></h1>

                <h2>https://github.com/rs/SDWebImage</h2>

                <pre>Copyright (c) 2016 Olivier Poitrey rs@dailymotion.com</pre><pre> </pre><pre>Permission is hereby granted, free of charge, to any person obtaining a copy</pre><pre>of this software and associated documentation files (the &quot;Software&quot;), to deal</pre><pre>in the Software without restriction, including without limitation the rights</pre><pre>to use, copy, modify, merge, publish, distribute, sublicense, and/or sell</pre><pre>copies of the Software, and to permit persons to whom the Software is furnished</pre><pre>to do so, subject to the following conditions:</pre><pre> </pre><pre>The above copyright notice and this permission notice shall be included in all</pre><pre>copies or substantial portions of the Software.</pre><pre> </pre><pre>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR</pre><pre>IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,</pre><pre>FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE</pre><pre>AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER</pre><pre>LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,</pre><pre>OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN</pre><pre>THE SOFTWARE.</pre><pre>&nbsp;</pre><pre>&nbsp;</pre>

                <h1><a name="_Toc448233306"><a name="_Toc448233278"><a name="_Toc448232856"><span>6.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>AFDateHelper</a></a></a></h1>

                <h2>https://github.com/melvitax/AFDateHelper</h2>

                <pre>Copyright (c) 2015 Melvin Rivera &lt;melvin@allforces.com&gt;</pre><pre>&nbsp;</pre><pre>Permission is hereby granted, free of charge, to any person obtaining a copy</pre><pre>of this software and associated documentation files (the &quot;Software&quot;), to deal</pre><pre>in the Software without restriction, including without limitation the rights</pre><pre>to use, copy, modify, merge, publish, distribute, sublicense, and/or sell</pre><pre>copies of the Software, and to permit persons to whom the Software is</pre><pre>furnished to do so, subject to the following conditions:</pre><pre>&nbsp;</pre><pre>The above copyright notice and this permission notice shall be included in</pre><pre>all copies or substantial portions of the Software.</pre><pre>&nbsp;</pre><pre>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR</pre><pre>IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,</pre><pre>FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE</pre><pre>AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER</pre><pre>LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,</pre><pre>OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN</pre><pre>THE SOFTWARE.</pre><pre>&nbsp;</pre><pre>&nbsp;</pre>

                <h1><a name="_Toc448233307"><a name="_Toc448233279"><a name="_Toc448232857"><span>7.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>FaceBook
                                POP</a></a></a></h1>

                <h2>https://github.com/facebook/pop</h2>

                <pre>BSD License</pre><pre>&nbsp;</pre><pre>For Pop software</pre><pre>&nbsp;</pre><pre>Copyright (c) 2014, Facebook, Inc. All rights reserved.</pre><pre>&nbsp;</pre><pre>Redistribution and use in source and binary forms, with or without modification,</pre><pre>are permitted provided that the following conditions are met:</pre><pre>&nbsp;</pre><pre> * Redistributions of source code must retain the above copyright notice, this</pre><pre>   list of conditions and the following disclaimer.</pre><pre>&nbsp;</pre><pre> * Redistributions in binary form must reproduce the above copyright notice,</pre><pre>   this list of conditions and the following disclaimer in the documentation</pre><pre>   and/or other materials provided with the distribution.</pre><pre>&nbsp;</pre><pre> * Neither the name Facebook nor the names of its contributors may be used to</pre><pre>   endorse or promote products derived from this software without specific</pre><pre>   prior written permission.</pre><pre>&nbsp;</pre><pre>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS &quot;AS IS&quot; AND</pre><pre>ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED</pre><pre>WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE</pre><pre>DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR</pre><pre>ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES</pre><pre>(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;</pre><pre>LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON</pre><pre>ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT</pre><pre>(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS</pre><pre>SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</pre><pre>---------------------------------------------------------------------------------------------</pre><pre>Additional Grant of Patent Rights Version 2</pre><pre>&nbsp;</pre><pre>&quot;Software&quot; means the Pop software distributed by Facebook, Inc.</pre><pre>&nbsp;</pre><pre>Facebook, Inc. (&quot;Facebook&quot;) hereby grants to each recipient of the Software</pre><pre>(&quot;you&quot;) a perpetual, worldwide, royalty-free, non-exclusive, irrevocable</pre><pre>(subject to the termination provision below) license under any Necessary</pre><pre>Claims, to make, have made, use, sell, offer to sell, import, and otherwise</pre><pre>transfer the Software. For avoidance of doubt, no license is granted under</pre><pre>Facebook’s rights in any patent claims that are infringed by (i) modifications</pre><pre>to the Software made by you or any third party or (ii) the Software in</pre><pre>combination with any software or other technology.</pre><pre>&nbsp;</pre><pre>The license granted hereunder will terminate, automatically and without notice,</pre><pre>if you (or any of your subsidiaries, corporate affiliates or agents) initiate</pre><pre>directly or indirectly, or take a direct financial interest in, any Patent</pre><pre>Assertion: (i) against Facebook or any of its subsidiaries or corporate</pre><pre>affiliates, (ii) against any party if such Patent Assertion arises in whole or</pre><pre>in part from any software, technology, product or service of Facebook or any of</pre><pre>its subsidiaries or corporate affiliates, or (iii) against any party relating</pre><pre>to the Software. Notwithstanding the foregoing, if Facebook or any of its</pre><pre>subsidiaries or corporate affiliates files a lawsuit alleging patent</pre><pre>infringement against you in the first instance, and you respond by filing a</pre><pre>patent infringement counterclaim in that lawsuit against that party that is</pre><pre>unrelated to the Software, the license granted hereunder will not terminate</pre><pre>under section (i) of this paragraph due to such counterclaim.</pre><pre>&nbsp;</pre><pre>A &quot;Necessary Claim&quot; is a claim of a patent owned by Facebook that is</pre><pre>necessarily infringed by the Software standing alone.</pre><pre>&nbsp;</pre><pre>A &quot;Patent Assertion&quot; is any lawsuit or other action alleging direct, indirect,</pre><pre>or contributory infringement or inducement to infringe any patent, including a</pre><pre>cross-claim or counterclaim.</pre><pre>&nbsp;</pre><pre>&nbsp;</pre>

                <h1><a name="_Toc448233308"><a name="_Toc448233280"><a name="_Toc448232858"><span>8.<span
                                            style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span>SlideMenuControllerSwift</a></a></a></h1>

                <h2>https://github.com/dekatotoro/SlideMenuControllerSwift</h2>

                <pre>The MIT License (MIT)</pre><pre>&nbsp;</pre><pre>Copyright (c) 2014 Yuji Hato</pre><pre>&nbsp;</pre><pre>Permission is hereby granted, free of charge, to any person obtaining a copy of</pre><pre>this software and associated documentation files (the &quot;Software&quot;), to deal in</pre><pre>the Software without restriction, including without limitation the rights to</pre><pre>use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of</pre><pre>the Software, and to permit persons to whom the Software is furnished to do so,</pre><pre>subject to the following conditions:</pre><pre>&nbsp;</pre><pre>The above copyright notice and this permission notice shall be included in all</pre><pre>copies or substantial portions of the Software.</pre><pre>&nbsp;</pre><pre>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR</pre><pre>IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS</pre><pre>FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR</pre><pre>COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER</pre><pre>IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN</pre><pre>CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</pre><pre>&nbsp;</pre><pre>&nbsp;</pre></div>

            </body>

            </html>

        </div>
    </div>
</div>
</body>

</html>