<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/traveler.css">
</head>
<body>
<div class="container" align="center">
    <div class="imgLogo"> <img align="center" src="/img/imgLogoBadge.png"/></div>
    <div align="center">
        <div class="containerTermsContent" align="left">
            <html>

            <head>
                <meta name=Title content="">
                <meta name=Keywords content="">
                <meta http-equiv=Content-Type content="text/html; charset=utf-8">
                <style>
                    <!--
                    /* Font Definitions */
                    @font-face
                    {font-family:Arial;
                        panose-1:2 11 6 4 2 2 2 2 2 4;}
                    @font-face
                    {font-family:"Courier New";
                        panose-1:2 7 3 9 2 2 5 2 4 4;}
                    @font-face
                    {font-family:Wingdings;
                        panose-1:5 0 0 0 0 0 0 0 0 0;}
                    @font-face
                    {font-family:Wingdings;
                        panose-1:5 0 0 0 0 0 0 0 0 0;}
                    @font-face
                    {font-family:"ＭＳ Ｐ明朝";}
                    /* Style Definitions */
                    p.MsoNormal, li.MsoNormal, div.MsoNormal
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:10.0pt;
                        margin-left:0in;
                        line-height:115%;
                        font-size:11.0pt;
                        font-family:"Times New Roman";}
                    p.MsoHeader, li.MsoHeader, div.MsoHeader
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:"Times New Roman";}
                    p.MsoFooter, li.MsoFooter, div.MsoFooter
                    {margin:0in;
                        margin-bottom:.0001pt;
                        font-size:11.0pt;
                        font-family:"Times New Roman";}
                    a:link, span.MsoHyperlink
                    {color:blue;
                        text-decoration:underline;}
                    a:visited, span.MsoHyperlinkFollowed
                    {color:purple;
                        text-decoration:underline;}
                    p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
                    {margin-top:0in;
                        margin-right:0in;
                        margin-bottom:10.0pt;
                        margin-left:.5in;
                        line-height:115%;
                        font-size:11.0pt;
                        font-family:"Times New Roman";}
                    .MsoChpDefault
                    {font-size:11.0pt;}
                    .MsoPapDefault
                    {margin-bottom:10.0pt;
                        line-height:115%;}
                    /* Page Definitions */
                    @page WordSection1
                    {size:8.5in 11.0in;
                        margin:1.0in 1.0in 1.0in 1.0in;}
                    div.WordSection1
                    {page:WordSection1;}
                    /* List Definitions */
                    ol
                    {margin-bottom:0in;}
                    ul
                    {margin-bottom:0in;}
                    -->
                </style>

            </head>

            <body lang=EN-US link=blue vlink=purple>

            <div class=WordSection1>

                <p class=MsoNormal align=center style='margin-top:0in;;
margin-bottom:10.0pt;text-align:center'><b><span
                                style='font-size:14.0pt;line-height:115%;font-family:Arial'>Crossroads Terms of
Service</span></b></p>

                <p class=MsoNormal style='margin-top:0in;;margin-bottom:10.0pt;
'><span style='font-family:Arial'>Crossroads is a mobile
application (“App”) that helps you to coordinate and schedule playing times
with other players of the game <i>Destiny</i> by Bungie.  This agreement is
between You and Catalyst Foundry LLC (“Developer”) and sets forth the terms and
conditions (“Terms”) which apply to Your use of the App.  By downloading and
installing the App, You agree to be bound by these Terms which may change from
time to time without notice.  If You do not agree to these Terms, do not use
the App.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;text-indent:-.25in'><b><span style='font-family:Arial'>1.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Age Requirement</span></u></b><b><span
                                style='font-family:Arial'>.</span></b><span style='font-family:Arial'>  You
must be at least 13 years old to use the App.  If You are between the ages of
13 and 18, You may use the App only if Your parent or legal guardian has
reviewed these Terms and consent to Your use of the App.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>2.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Data Charges</span></u></b><b><span style='font-family:
Arial'>.</span></b><span style='font-family:Arial'>  This App is provided free
of charge.  But you will incur data charges when You download and use the App. 
Data charges will be billed by Your carrier in accordance with Your data plan. 
Developer reserves the right to charge for use of the App in the future.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>3.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Privacy and Your Information</span></u></b><b><span
                                style='font-family:Arial'>.</span></b><span style='font-family:Arial'>  Your
use of the App means that You agree to be bound by Developer’s Privacy Policy
which can be found at </span><a href="http://www.crossroadsapp.co/privacy"><span
                                style='font-family:Arial'>www.crossroadsapp.co/privacy</span></a><span
                            style='font-family:Arial'>. You agree that Developer may collect, use, store,
transmit, process and share certain information about You in accordance with
the terms of the Privacy Policy. </span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'> </span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>4.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Modification/Termination</span></u></b><b><span
                                style='font-family:Arial'>.</span></b><span style='font-family:Arial'> 
Developer may modify or terminate this App at any time in its sole discretion
without notice to You.  Continued use of the App means You agree to any and all
modifications.  In the event Your access to the App is terminated, You must
immediately delete the App including any backup copies and cease to use it.  </span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>5.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>License, App Ownership and Intellectual Property
Rights</span></u></b><b><span style='font-family:Arial'>.</span></b><span
                            style='font-family:Arial'>  This App is being made available to You for Your
personal, non-commercial use.  Developer hereby grants You a limited,
non-exclusive, non-transferable, royalty-free, revocable license to download,
install and use the App solely for its intended purpose. Developer owns the
App, including all software, tools, services, information and documentation
related to the App, except to the extent we have licenses from third-party
licensors.  Any logos, marks, graphics of the App are trademarks or registered
trademarks owned by Developer or Developer’s third-party licensors.  You may
not use any of Developer’s trademarks, logos, or brands or those of the
platform on which Developer provides the App without written permission and may
not remove, obscure, or alter any proprietary notices that appear within the
App, including copyright notices.  All copyrights and other intellectual
property rights in the App are owned by Developer or Developer’s third-party
licensors to the full extent permitted under the United States Copyright Act
and all other state, federal, or international copyright laws.  You are not
granted any rights to the App except as specifically set forth in these Terms. 
Open source licenses can be found at </span><a
                            href="http://www.crossroadsapp.co/license"><span style='font-family:Arial'>www.crossroadsapp.co/license</span></a><span
                            style='font-family:Arial'>.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial;color:#222222'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>6.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Links to Third-Party Content</span></u></b><b><span
                                style='font-family:Arial'>.  </span></b><span style='font-family:Arial'>The App
may contain links to third-party content.  Developer does not control, endorse,
sponsor, recommend, or otherwise accept responsibility for such content.  Use
of third-party content is at Your own risk.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>7.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Export Control</span></u></b><b><span
                                style='font-family:Arial'>.  </span></b><span style='font-family:Arial'>Use of
the App may be subject to the export and import laws of the United States and
other countries.   You agree to comply with all applicable export and import
laws and regulations.  By installing and downloading the App, You agree that
You are not located in, under the control of, or a resident or national of any
country, or person, on the United States Treasury Department’s list of
Specially Designated Nationals or the United States Commerce Department’s Table
of Deny Orders.  You also agree that You are not located in a country that is
subject to U.S. government embargo, or that is designated by the U.S. as a
terrorist supporting country and You are not listed on any U.S. government list
of prohibited or restricted parties.  You agree also not to attempt to export
or import any encrypted information, materials, hardware or software.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>8.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Compliance with Law</span></u></b><b><span
                                style='font-family:Arial'>.</span></b><span style='font-family:Arial'>  You
agree to follow all applicable laws in connection with Your use of the App.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>9.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Restrictions</span></u></b><b><span style='font-family:
Arial'>.</span></b><span style='font-family:Arial'>  All rights not expressly
granted by these Terms are reserved by Developer and its licensors.  You may
not interfere or attempt to interfere with the proper working of the App.  You
may not, or allow others to adapt, alter, modify, decompile, decipher,
disassemble, reverse engineer, translate, or create derivative works of the App
or any included software.  You may not copy, publish, reproduce, sell,
transfer, distribute, display, perform, edit, adapt, modify, or otherwise
exploit any part of the App.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>10.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Arbitration</span></u></b><b><span style='font-family:
Arial'>.  </span></b><span style='font-family:Arial'>PLEASE READ THIS SECTION
CAREFULLY BECAUSE IT AFFECTS YOUR LEGAL RIGHTS.  BY AGREEING TO BINDING
ARBITRATION, YOU WAIVE YOUR RIGHT TO LITIGATE DISPUTES THROUGH A COURT AND TO
HAVE A JUDGE OR JURY DECIDE YOUR CASE.</span></p>

                <p class=MsoNormal style='margin-top:0in;;margin-bottom:10.0pt;
'><span style='font-family:Arial'>In order to expedite and
control the cost of disputes, Developer and You agree that any legal or
equitable claim, dispute, action or proceeding arising from or related to the
App (“Dispute”) will be resolved as follows to the fullest extent permitted by
law:</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Notice of Dispute.</span></b><span style='font-family:
Arial'>  In the event of a Dispute, You or Developer must give the other a Notice
of Dispute, which is a written statement that sets forth Your name, address and
contact information, along with the facts giving rise to the Dispute and a
proposed solution.  You must send the Notice of Dispute by First Class U.S.
Mail to Developer at Catalyst Foundry LLC, Corporation Trust Center, 1209 Orange St.,
Wilmington, DE 19801.  Developer will send any Notice of Dispute to You by First Class U.S. Mail
to your mailing address if Developer has it, or otherwise to Your email
address.  You and Developer will attempt to resolve any Dispute through
informal negotiation within sixty days from the date of the Notice of Dispute. 
After sixty days, You or Developer may commence arbitration.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Small Claims Court.</span></b><span style='font-family:
Arial'>  You may choose to litigate any Dispute in small claims court (or the
equivalent) in Your home jurisdiction or in Delaware, if the Dispute meets all
the requirements to be heard in small claims court.  You may litigate in small
claims court whether or not you first negotiated informally with Developer.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Binding Arbitration and Governing Law.</span></b><span
                            style='font-family:Arial'>  If the Dispute is not resolved by informal
negotiation or in small claims court, any other effort to resolve the Dispute will
be conducted exclusively through binding arbitration, as described in this
section.  You are giving up the right to litigate (or participate in, as a
party or class member) all Disputes in court before a judge or jury.  Instead,
all Disputes will be resolved before a neutral arbitrator, whose decision will
be final except for a limited right of appeal under the Federal Arbitration
Act.  Any court with jurisdiction over the parties may enforce the arbitrator’s
award.  To the fullest extent permitted by law, the Terms and any Dispute that
may arise between You and Developer shall be governed by the laws of the United
States and the State of Delaware, without regard to its conflict of laws
provisions.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Class Action Waiver.</span></b><span
                            style='font-family:Arial'>  Any proceedings to resolve or litigate any Dispute
in any forum will be conducted solely on an individual basis.  Neither You nor
Developer will seek to have any Dispute heard as a class action or in any other
proceeding in which either party acts or proposes to act in a representative
capacity.  No arbitration or proceeding will be combined with another without
the prior written consent of all parties to all affected arbitrations and
proceedings.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Arbitration Procedures.</span></b><span
                            style='font-family:Arial'>  Any arbitration will be conducted by the American
Arbitration Association (“AAA”) under the applicable Consumer or Commercial
Arbitration Rules in effect at the time the Dispute is filed.  You may request
a telephonic or in-person hearing by following the AAA rules.  In a dispute
involving $10,000 or less, any hearing will be telephonic unless the arbitrator
finds good cause to hold an in-person hearing instead.  The arbitrator may
award the same damages to you individually as a court could.  The arbitrator
may award declaratory or injunctive relief only to you individually, and only
to the extent required to satisfy your individual claim.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Arbitration Fees.</span></b><span style='font-family:
Arial'>  Whoever files the arbitration pays for the initial filing fee.  If
Developer files, Developer pays.  If You file, You pay, unless You get a fee
waiver under the applicable arbitration rules.  All other fees will be
allocated as provided by the applicable arbitration rules or law.  Each party
will bear the cost of its own expenses, including the expenses of its attorneys,
experts, and witnesses, regardless of which party prevails; however, a party
may recover any or all expenses from the other party if the arbitrator,
applying applicable law, so determines.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Disputes Must Be Filed Within One Year.</span></b><span
                            style='font-family:Arial'>  To the extent permitted by law, any Dispute must be
filed within one year in small claims court or in an arbitration proceeding. 
The one-year period begins when the Dispute or Notice of Dispute can first be filed. 
If a Dispute isn’t filed within one year, it is permanently barred.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Temporary Injunctive Relief.</span></b><span
                            style='font-family:Arial'>  Prior to the appointment of an arbitrator, either
party may seek temporary injunctive relief in any court of competent
jurisdiction without waiving its right to arbitration.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Governing Law.</span></b><span style='font-family:
Arial'>  You agree that these Terms will be construed in accordance with the
law of the State of Delaware.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in;text-indent:-.25in'><span style='font-family:Symbol'>·<span
                                style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><b><span
                                style='font-family:Arial'>Severability.</span></b><span style='font-family:
Arial'>  If any provision of these Terms is found to be illegal or
unenforceable, that provision will be severed.  The severed provision will be
replaced by an enforceable provision that comes closest to the intention
underlying the unenforceable provision, and the remainder of the Terms will
remain in full force and effect.  If this agreement to arbitrate is found to be
illegal or unenforceable, the parties agree to the fullest extent permitted by
applicable law that any Dispute relating to Your use of the App or these Terms
shall be commenced and heard in the appropriate state or federal district court
in Delaware.  To the fullest extent permitted by law, You agree to submit to
the personal and exclusive jurisdiction of the courts located within Delaware.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;margin-left:0in'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>11.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Disclaimer of Warranty</span></u></b><b><span
                                style='font-family:Arial'>. </span></b><span style='font-family:Arial'> THIS
APP IS PROVIDED ‘AS IS’ WITHOUT WARRANTIES, EXPRESS OR IMPLIED, OF ANY KIND,
INCLUDING WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE, NON-INFRINGEMENT, OR OTHER VIOLATION OF RIGHTS.  YOUR USE
OF THE APP IS AT YOUR OWN RISK.  DEVELOPER DOES NOT WARRANT THE ADEQUACY,
ACCURACY, LIKELY RESULTS, OR COMPLETENESS OF THE APP OR ANY THIRD-PARTY SITES
LINKED TO OR FROM THE APP, OR THAT THE FUNCTIONS PROVIDED WILL BE UNINTERRUPTED,
VIRUS-FREE, OR ERROR-FREE.  DEVELOPER EXPRESSLY DISCLAIMS ANY LIABILITY FOR ANY
ERRORS OR OMISSIONS IN THE CONTENT INCLUDED IN THE APP OR ANY THIRD-PARTY SITES
LINKED TO OR FROM THE APP.  SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OF
IMPLIED WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.</span></p>

                <p class=MsoNormal style='margin-top:0in;;margin-bottom:10.0pt;
'><span style='font-family:Arial'>IN NO EVENT WILL DEVELOPER,
OR ITS SUBSIDIARIES, AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, AND
ASSIGNS BE LIABLE FOR ANY DIRECT OR INDIRECT, SPECIAL, INCIDENTAL,
CONSEQUENTIAL OR PUNITIVE DAMAGES, LOST PROFITS, OR OTHER DAMAGES WHATSOEVER
ARISING IN CONNECTION WITH THE USE OF THE APP, ANY INTERRUPTION IN AVAILABILITY
OF THE APP, DELAY IN OPERATION OR TRANSMISSION, VIRUS, LOSS OF DATA, OR USE,
MISUSE, RELIANCE, REVIEW, MANIPULATION, OR OTHER UTILIZATION IN ANY MANNER
WHATSOEVER OF THE APP OR THE DATA COLLECTED THROUGH THE APP, EVEN IF ONE OR
MORE OF THEM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR LOSS.  </span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>12.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Indemnification</span></u></b><b><span
                                style='font-family:Arial'>.</span></b><span style='font-family:Arial'>  YOU
AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS DEVELOPER AND ITS SUBSIDIARIES,
AFFILIATES, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS AND ASSIGNS FROM AND AGAINST
ANY AND ALL LOSSES, COSTS, EXPENSES (INCLUDING REASONABLE ATTORNEYS’ FEES AND
EXPENSES), CLAIMS, DAMAGES AND LIABILITIES RELATED TO OR ASSOCIATED WITH YOUR
USE OF THE APP AND ANY ALLEGED VIOLATION BY YOU OF THESE TERMS.  DEVELOPER
RESERVES THE RIGHT TO ASSUME THE EXCLUSIVE DEFENSE OF ANY CLAIM FOR WHICH IT IS
ENTITLED TO INDEMNIFICATION UNDER THIS SECTION.  IN SUCH EVENT, YOU SHALL
PROVIDE DEVELOPER WITH SUCH COOPERATION AS DEVELOPER REASONABLY REQUESTS.</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>&nbsp;</span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;;text-indent:-.25in'><b><span style='font-family:Arial'>13.<span
                                    style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></b><b><u><span
                                    style='font-family:Arial'>Miscellaneous</span></u></b><b><span
                                style='font-family:Arial'>.  </span></b><span style='font-family:Arial'>These
Terms constitute the entire agreement between You and Developer, superseding
any prior or contemporaneous communications and proposals whether oral, written
or electronic.  You agree that no joint venture, partnership, employment, or
agency relationship exists between You and Developer as a result of these Terms
or Your access and use of the App.  Our failure to enforce any of these Terms
does not waive our right to subsequently enforce the Terms. </span></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><b><u><span style='font-family:Arial'><span
                                        style='text-decoration:none'>&nbsp;</span></span></u></b></p>

                <p class=MsoListParagraph style='margin-top:0in;;margin-bottom:
10.0pt;'><span style='font-family:Arial'>Effective June 2016</span></p>

            </div>

            </body>

            </html>
        </div>
    </div>
</div>
</body>

</html>