<!--<p>Invalid verification link. Please click on the link sent to you or copy paste the link in a browser.</p>-->

<p>"Our login system has changed. Please update to the latest version in the App Store to continue using Crossroads."</p>
