<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/traveler.css">
</head>
<body>
<div class="container" align="center">
    <div class="appTitle">RESET PASSWORD</div>
    <div class="imgLogo"> <img align="center" src="/img/imgLogoBadge.png"/></div>
    <div align="center">
        <div class="msgLarge">Your password has been reset</div>
    </div>
    <div class="pad"/>
    <!--<a href="https://crossrd.app.link/" class="linkBlueCenter"><div>OPEN <%= appName.toUpperCase()%></div></a>-->
</div>
</body>

</html>