<!doctype html>
<html lang="en">
<head>
    <style>
        div.jumbotron {
            background-color: #35415B;
            width: 768px;
            margin: auto;
            position: relative;
        }

        div.imgLogo{
            height: 144px;
            width: 144px;
            position: absolute;
            left: 312px;
            top: 70px;
            margin: auto;
            padding-top: 40px;
        }

        div.welcomeEmailTitleContainer {
            height: 120px;
            width: 678px;
            position: absolute;
            left: 45px;
            top: 229px;
            margin: auto;
            padding-top: 30px;
        }

        div.welcomeEmailTitle1 {
            font-family: Gotham-Bold;
            font-size: 44px;
            color: white;
            line-height: 60px;
            text-align: center;
        }

        div.welcomeEmailTitle2 {
            font-family: Georgia-Italic;
            font-style: italic;
            font-size: 44px;
            color: #FEB809;
            line-height: 60px;
            text-align: center;
        }

        div.welcomeEmailText {
            font-family: Arial;
            font-size: 20px;
            color: white;
            position: absolute;
            left: 51px;
            top: 392px;
            width: 665.5px;
            height: 120px;
            margin: auto;
            padding-top: 20px;
        }

        div.appStoreLinks {
            margin: auto;
            padding-top: 30px;
            left: 214px;
            top: 560px;
            vertical-align: bottom;
            position: absolute;
        }

        span.linkTxt {
            color:white;
            font-family: Arial;
        }

        div.applePlayStoreLink {
        }

        a{
            color: white;
            background-color: #FEB809;
            border: medium;
            border-color: #FEB809;
            text-decoration: none
        }
        a:link {
            color: white;
            background-color: #FEB809;
            border: medium;
            border-color: #FEB809;
            text-decoration: none
        }

        a:hover {
            color: white;
            background-color: #FEB809;
            text-decoration: none
        }

        a:active {
            color: white;
            background-color: #FEB809;
            text-decoration: none
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

    <div class="jumbotron">
        <div class="imgLogo"> <img src="https://s3-us-west-1.amazonaws.com/w3.crossroadsapp.co/overwatch/logo/emailLogo/oWEmailLogo.png"/></div>
        <div class="welcomeEmailTitleContainer">
            <div class="welcomeEmailTitle1">WELCOME TO CROSSROADS</div>
            <div class="welcomeEmailTitle2">for Overwatch</div>
        </div>

        <div class="welcomeEmailText">
            <p>
                We received a request to reset your password. <a href="<%= link %>">&nbsp;Please follow the link&nbsp;</a>
            </p>
            <p>
                If you did not forget your password, please disregard this message.
            </p>
        </div>
        <div class="appStoreLinks" align="center">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <br/>
    </div>
</body>

</html>