<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/traveler.css">
</head>
<body>
<div class="jumbotron">
<div class="container" align="center">
    <div class="appTitle">ACCOUNT VERIFIED</div>
    <div class="imgLogo"> <img align="center" src="/img/imgLogoBadge.png"/></div>
    <div class="msgLarge">
        Welcome to <%= appName %>!
        <div class="padSm"/>
        <div class="containerTermsContact" align="center">
            If you have any questions, contact us at <span class="blueContact">support@crossroadsapp.co</span>
        </div>
    </div>
    <div class="pad"/>
    <div class="pad"/>
    <a href="https://crossrd.app.link/" class="linkBlueCenter"><img src="/img/btnOPENAPP.png"/></a>
    </form>
</div>
</div>
</body>

</html>