<!doctype html>
<html lang="en">
<head>
    <style>
        div.jumbotron {
            background-color: #424242;
            width: 768px;
            margin: auto;
            position: relative;
        }

        div.imgLogo{
            height: 144px;
            width: 144px;
            position: absolute;
            left: 312px;
            top: 70px;
            margin: auto;
            padding-top: 40px;
        }

        div.welcomeEmailTitleContainer {
            height: 120px;
            width: 678px;
            position: absolute;
            left: 45px;
            top: 229px;
            margin: auto;
            padding-top: 30px;
        }

        div.welcomeEmailTitle1 {
            font-family: Gotham-Bold;
            font-size: 44px;
            color: white;
            line-height: 60px;
            text-align: center;
        }

        div.welcomeEmailTitle2 {
            font-family: Georgia-Italic;
            font-style: italic;
            font-size: 44px;
            color: khaki;
            line-height: 60px;
            text-align: center;
        }

        div.welcomeEmailText {
            font-family: Arial;
            font-size: 20px;
            color: white;
            position: absolute;
            left: 51px;
            top: 392px;
            width: 665.5px;
            height: 120px;
            margin: auto;
            padding-top: 20px;
        }

        div.appStoreLinks {
            margin: auto;
            padding-top: 30px;
            left: 214px;
            top: 560px;
            vertical-align: bottom;
            position: absolute;
        }

        span.linkTxt {
            color:white;
            font-family: Arial;
        }

        div.applePlayStoreLink {
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

    <div class="jumbotron">
        <div class="imgLogo"> <img src="http://w3.crossroadsapp.co.s3-website-us-west-1.amazonaws.com/lol/welcome_email/imgLogoBadge.png"/></div>
        <div class="welcomeEmailTitleContainer">
            <div class="welcomeEmailTitle1">WELCOME TO CROSSROADS</div>
            <div class="welcomeEmailTitle2">for League of Legends</div>
        </div>

        <div class="welcomeEmailText">
            <p>
                Crossroads is a platform for connecting players to achieve maximum fun. It's completely free, lets you schedule your teams in advance, and automatically converts all time zones.
            </p>
        </div>
        <br/>
        <div class="appStoreLinks" align="center">
            <div class="col-md-1">
                <a href="https://geo.itunes.apple.com/us/app/crossroads-for-league-of-legends/id1195213970?mt=8">
                    <img alt="Download on the App Store" src="http://w3.crossroadsapp.co.s3-website-us-west-1.amazonaws.com/img/ios-app-store-badge.png" width="150px">
                </a>
            </div>
            <div class="col-md-1">
                <a href="https://play.google.com/store/apps/details?id=co.crossroadsapp.leagueoflegends">
                    <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="175px">
                </a>
            </div>
        </div>
    </div>
</body>

</html>